doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title JavaScript.ru
        style.
            .container { padding: 0 100px; }

    body.container
        h3 Подтверждение email
        p Для завершения регистрации нажмите, пожалуйста, на ссылку
        p
            a(href=href) Подтвердить регистрацию

        footer
            p С уважением, learn.javascript.ru
